.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-card, .movie-detail-card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.movie-explorer-heading {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0px;
  color: white;
  background-color: black;
}

.search-movie-input{
  width: 200px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-movie-input:focus {
  outline: none;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.movie-poster {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
}

.movie-title {
  font-size: 16px;
  margin: 10px 0 4px;
}

.movie-year {
  color: gray;
  margin-bottom: 8px;
}

.no-movies, .error-boundary {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  color: black;
}